# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
# https://download.pytorch.org/whl/cu124/torch-2.5.0%2Bcu124-cp311-cp311-win_amd64.whl

transformers
bitsandbytes
accelerate
numpy
tqdm
sentencepiece
protobuf
